<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.arch.ability.plugin"/>

    <bean id="inboundSaleOrder" class="org.springframework.beans.factory.config.FieldRetrievingFactoryBean">
        <property name="staticField" value="com.arch.ability.annotation.PhaseEnum.ReceiveSaleOrder"/>
    </bean>

    <bean id="pluginContext" class="com.arch.ability.PluginContext">
        <property name="appName" value="xxx"/>
        <property name="phases">
            <set>
                <ref bean="inboundSaleOrder"/>
            </set>
        </property>
    </bean>

</beans>